.muted {
    color: $text-muted;
}
.disabled {
    color: $text-disabled;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.primary-darken-3 {
    color: $primary-darken-3;
}
.primary-darken-2 {
    color: $primary-darken-2;
}
.primary-darken-1 {
    color: $primary-darken-1;
}
.primary {
    color: $primary;
}
.primary-lighten-1 {
    color: $primary-lighten-1;
}
.primary-lighten-2 {
    color: $primary-lighten-2;
}
.primary-lighten-3 {
    color: $primary-lighten-3;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.secondary-darken-3 {
    color: $secondary-darken-3;
}
.secondary-darken-2 {
    color: $secondary-darken-2;
}
.secondary-darken-1 {
    color: $secondary-darken-1;
}
.secondary {
    color: $secondary;
}
.secondary-lighten-1 {
    color: $secondary-lighten-1;
}
.secondary-lighten-2 {
    color: $secondary-lighten-2;
}
.secondary-lighten-3 {
    color: $secondary-lighten-3;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.accent-darken-3 {
    color: $accent-darken-3;
}
.accent-darken-2 {
    color: $accent-darken-2;
}
.accent-darken-1 {
    color: $accent-darken-1;
}
.accent {
    color: $accent;
}
.accent-lighten-1 {
    color: $accent-lighten-1;
}
.accent-lighten-2 {
    color: $accent-lighten-2;
}
.accent-lighten-3 {
    color: $accent-lighten-3;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.success-darken-3 {
    color: $success-darken-3;
}
.success-darken-2 {
    color: $success-darken-2;
}
.success-darken-1 {
    color: $success-darken-1;
}
.success {
    color: $success;
}
.success-lighten-1 {
    color: $success-lighten-1;
}
.success-lighten-2 {
    color: $success-lighten-2;
}
.success-lighten-3 {
    color: $success-lighten-3;
}
/* ------------------------------------------------------------------------------------------------------------------ */
