.text-bold {
    text-style: bold;
}
.text-italic {
    text-style: italic;
}
.text-reverse {
    text-style: reverse;
}
.text-underline {
    text-style: underline;
}
.text-strike {
    text-style: strike;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.text-left {
    text-align: left;
}
.text-start {
    text-align: start;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-end {
    text-align: end;
}
.text-justify {
    text-align: justify;
}
