.highlight-background {
    background: $primary-background !important;
}
.border-primary-background {
    border: tall $primary-background;
}
.border-bottom-white {
    border-bottom: solid white;
}
